.rm-btn {
  margin: 0;
  padding: 0;
  border: 0 none;
  color: red;
  font-weight: bolder;
  background: transparent
}

.add-input {
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: .1rem;
  width: 100%;
}
