<div class="row">
  <div class="col-md-9 text-right" style="padding-right: 2px">
    <ng-container *ngIf="data$ | async as data">
      <div class="d-inline" *ngFor="let tag of data.tags;" style="padding-right: 2px">
        <kbd style="padding: .1rem">
          <a style="color: white" (click)="navigate(tag)" class="btn-link">{{ tag }}</a>
          <button class="rm-btn" (click)="removeTag(tag)">x</button>
        </kbd>
      </div>
    </ng-container>
  </div>
  <div class="col-md-3" style="padding-left: 2px">
    <label>
      <input class="add-input" #box (change)="addTag(box.value); box.value=''">
    </label>
  </div>
</div>
